@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

body {
  margin: 0;
	font-family: 'Manjari', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
  height: 100vh;
	width: 100vw;
  padding: 0;
  box-sizing: border-box;
	color: #F0F0F0;

}
#root {
	width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol, ul {
	list-style: none;
}